html {
    /* This to set 1 rem = 10px */
    font-size: 62.5%;
}

:root {
    /* color */
    --label-color: #696d77;
    --desc-color: #696d76;
    --heading-color: #212832;
    --bold-color: #7264d6;

    /* background */
    --btn-bg: #212832;
    --primary-bg: #7264d6;

    /* font */
    --primary-font: "Open Sans", sans-serif;
}

body {
    /* To set back body font is 16px */
    font-size: 1.6rem;
    font-family: var(--primary-font);
    font-weight: 400;
}

input,
textarea,
select,
button {
    /* To make font-size, font-family inherit in this html tag */
    font-size: inherit;
    font-family: inherit;
}

/* Common */
.container {
    /* Box model */
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    /* Variable */
    --height: 58px;

    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Box model */
    width: 149px;
    height: var(--height);
    border-radius: 8px;

    /* Color */
    color: #fff;
    background: var(--btn-bg);

    /* Text */
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;

    /* Transition */
    transition: background-color 0.3s ease;
}

.btn:hover {
    /* Color */
    background-color: var(--primary-bg);
}

.section-label {
    /* Flex box */
    display: flex;
    align-items: center;

    /* Color */
    color: var(--label-color);

    /* Text */
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.section-label::before {
    /* Content */
    content: "";

    /* Box model */
    display: inline-block;
    width: 18px;
    height: 2px;
    margin-right: 12px;

    /* Color */
    background: var(--label-color);
}

.section-heading {
    color: var(--heading-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

/* ======= Header =========*/
.header {
    /* Box model */
    padding: 42px 0 20px;
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -22px;
}

.header__inner {
    /* Flex box */
    display: flex;
    align-items: center;
}

.logo {
    /* Box model */
    width: 102.68px;
    height: 24px;
}

.navbar {
    /* Box model */
    margin-left: 70px;
}

.navbar__list {
    /* Flex box */
    display: flex;
    column-gap: 47px;
}

.navbar__link {
    /* Color */
    color: var(--desc-color);

    /* Text */
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.navbar__link--active,
.navbar__link:hover {
    /* Color */
    color: var(--heading-color);

    /* Text */
    text-shadow: 1px 0 0 currentColor;
}

.header-action {
    /* Flex box */
    display: flex;
    align-items: center;
    column-gap: 28px;

    /* Box model */
    margin-left: auto;
}

.header-action__link {
    /* Color */
    color: var(--heading-color);

    /* Text */
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.header-action__link:hover {
    /* Text */
    text-decoration: underline;
}

.header-action__btn {
    /* Variable */
    --height: 52px;

    /* Box model */
    max-width: 113px;
}

/* ====== Hero ======= */
.hero {
    /* Box model */
    margin-top: 56px;
}

.hero__inner {
    /* Flex box */
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.hero__left {
    /* Box model */
    width: 50%;
}

.hero__heading {
    /* Box model */
    margin-top: 12px;

    /* Text */
    font-size: 6rem;
}

.hero__heading--bold {
    /* Color */
    color: var(--bold-color);
}

.hero__desc {
    /* Box model */
    margin-top: 20px;
}

.subscribe-form {
    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Box model */
    width: 540px;
    height: 74px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);

    /* Color */
    background: #fff;
}

.subscribe-form__input {
    /* Box model */
    width: 100%;
    padding: 23px;
    border: none;
    outline: none;

    /* Text */
    font-weight: 500;
}

.subscribe-form__input::placeholder {
    /* Color */
    color: var(--desc-color);

    /* Text */
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.subscribe-form__submit {
    /* Flex box */
    flex-shrink: 0;

    /* Box model */
    margin-right: 8px;

    /* Color */
    background: var(--primary-bg);
}

.subscribe-form__submit:hover {
    /* Color */
    background: var(--btn-bg);
}

.hero__commit {
    /* Box model */
    margin-top: 20px;

    /* Color */
    color: var(--desc-color);

    /* Text */
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}
