* {
    /* Box model */
    box-sizing: border-box;
}

html {
    /* This to set 1 rem = 10px */
    font-size: 62.5%;
}

:root {
    /* color */
    --label-color: #696d77;
    --desc-color: #696d76;
    --heading-color: #212832;
    --bold-color: #7264d6;
    --legend-color: #31456a;
    --hero-deposit-money-color: #4ab5e3;

    /* background */
    --primary-bg: #7264d6;
    --secondary-bg: #212832;
    --mobile-forehead-bg: #3c2f60;
    --mobile-circle-01-bg: #fe6565;
    --mobile-circle-02-bg: #feef65;
    --hero-interest-bg: #da6464;
    --hero-funds-bg: #439f90;
    --congratulations-icon-wrap-bg: #4ab5e3;

    /* font */
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Inter", sans-serif;
}

body {
    /* To set back body font is 16px */
    font-size: 1.6rem;
    font-family: var(--primary-font);
    font-weight: 400;
}

input,
textarea,
select,
button {
    /* To make font-size, font-family inherit in this html tag */
    font-size: inherit;
    font-family: inherit;
}

/* Common */
.container {
    /* Box model */
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    /* Variable */
    --height: 58px;

    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Box model */
    width: 149px;
    height: var(--height);
    border-radius: 8px;

    /* Color */
    color: #fff;
    background: var(--secondary-bg);

    /* Text */
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;

    /* Transition */
    transition: background-color 0.3s ease;
}

.btn:hover {
    /* Color */
    background-color: var(--primary-bg);
}

.section-label {
    /* Flex box */
    display: flex;
    align-items: center;

    /* Color */
    color: var(--label-color);

    /* Text */
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.section-label::before {
    /* Content */
    content: "";

    /* Box model */
    display: inline-block;
    width: 18px;
    height: 2px;
    margin-right: 12px;

    /* Color */
    background: var(--label-color);
}

.section-heading {
    color: var(--heading-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

/* ======= Header =========*/
.header {
    /* Box model */
    padding: 42px 0 20px;
    background: #fff;
}

.header.fixed {
    /* Positioning */
    position: sticky;
    top: -22px;
    z-index: 99;
}

.header__inner {
    /* Flex box */
    display: flex;
    align-items: center;
}

.logo {
    /* Box model */
    width: 102.68px;
    height: 24px;
}

.navbar {
    /* Box model */
    margin-left: 70px;
}

.navbar__list {
    /* Flex box */
    display: flex;
    column-gap: 47px;
}

.navbar__link {
    /* Color */
    color: var(--desc-color);

    /* Text */
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.navbar__link--active,
.navbar__link:hover {
    /* Color */
    color: var(--heading-color);

    /* Text */
    text-shadow: 1px 0 0 currentColor;
}

.header-action {
    /* Flex box */
    display: flex;
    align-items: center;
    column-gap: 28px;

    /* Box model */
    margin-left: auto;
}

.header-action__link {
    /* Color */
    color: var(--heading-color);

    /* Text */
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.header-action__link:hover {
    /* Text */
    text-decoration: underline;
}

.header-action__btn {
    /* Variable */
    --height: 52px;

    /* Box model */
    max-width: 113px;
}

/* ====== Hero ======= */
.hero {
    /* Box model */
    margin-top: 56px;
}

.hero__inner {
    /* Flex box */
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.hero__left {
    /* Box model */
    width: 50%;
}

.hero__heading {
    /* Box model */
    margin-top: 12px;

    /* Text */
    font-size: 6rem;
}

.hero__heading--bold {
    /* Color */
    color: var(--bold-color);
}

.hero__desc {
    /* Box model */
    margin-top: 20px;
}

.subscribe-form {
    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Box model */
    width: 540px;
    height: 74px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);

    /* Color */
    background: #fff;
}

.subscribe-form__input {
    /* Box model */
    width: 100%;
    padding: 23px;
    border: none;
    outline: none;

    /* Text */
    font-weight: 500;
}

.subscribe-form__input::placeholder {
    /* Color */
    color: var(--desc-color);

    /* Text */
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.subscribe-form__submit {
    /* Flex box */
    flex-shrink: 0;

    /* Box model */
    margin-right: 8px;

    /* Color */
    background: var(--primary-bg);
}

.subscribe-form__submit:hover {
    /* Color */
    background: var(--secondary-bg);
}

.hero__commit {
    /* Box model */
    margin-top: 20px;

    /* Color */
    color: var(--desc-color);

    /* Text */
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero__right {
    position: relative;
}

.hero-mobile {
    /* Box model */
    width: 296px;
    height: 562px;
    margin-left: 100px;
    padding: 12px;
    border-radius: 40px;
    border: 12px solid var(--secondary-bg);

    /* Color */
    background: #fff;
}

.hero-mobile__forehead {
    /* Box model */
    width: 144px;
    height: 36px;
    margin: 0 auto;
    margin-top: -24px;
    border-radius: 0px 0px 18px 18px;

    /* Color */
    background: var(--mobile-forehead-bg);
}

.mobile-card {
    /* Positioning */
    position: relative;
    z-index: 1;

    /* Box model */
    width: 250px;
    height: 150px;
    padding: 16px;
    margin-top: 16px;
    border-radius: 20px;

    /* Color */
    color: #fff;
    background: linear-gradient(76deg, #8679e4 11.52%, #7264d6 70.78%);

    /* Overflow */
    overflow: hidden;
}

.mobile-card__text {
    /* Positioning */
    position: inherit;
    z-index: inherit;
}

.mobile-card__top {
    /* Flex box */
    display: flex;
    align-items: center;
}

.mobile-card__label {
    /* Text */
    font-size: 1.4rem;
    font-weight: 400;
}

.mobile-card__circles {
    /* Flex box */
    display: flex;

    /* Box model */
    margin-left: auto;
}

.mobile-card__circle {
    /* Box model */
    width: 24px;
    height: 24px;
    margin-left: -10px;
    border-radius: 50%;
}

.mobile-card__circle:first-child {
    /* Box model */
    margin-left: 0;

    /* Color */
    background: var(--mobile-circle-01-bg);
}

.mobile-card__circle:nth-child(2) {
    /* Color */
    background: var(--mobile-circle-02-bg);
}

.mobile-card__balance {
    /* Box model */
    margin-top: 5px;

    /* Text */
    font-size: 2.2rem;
    font-weight: 700;
}

.mobile-card__info {
    /* Grid layout */
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 12px;

    /* Box model */
    margin-top: 32px;
}

.mobile-card__title {
    /* Text */
    font-size: 1rem;
}

.mobile-card__detail {
    margin-top: 5px;
}

.mobile-card__decor:nth-of-type(1) {
    /* Positioning */
    position: absolute;
    top: 0;
    left: 0;
}

.mobile-card__decor:nth-of-type(2) {
    /* Positioning */
    position: absolute;
    bottom: 0;
    right: 0;
}

.hero-mobile__transactions {
    /* Box model */
    margin-top: 24px;
}

.transactions__top {
    /* Box model */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transaction__legend {
    /* Color */
    color: var(--legend-color);

    /* Text */
    font-size: 1.6rem;
    font-weight: 600;
}

.transaction__list {
    /* Box model */
    margin-top: 28px;
}

.transaction-item {
    /* Flex box */
    display: flex;
    align-items: center;

    /* Box model */
    margin-top: 28px;
}

.transaction-item__icon {
    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Box model */
    width: 40px;
    height: 40px;
    margin-right: 14px;
    border-radius: 8px;
}

.transaction-item:nth-child(1) .transaction-item__icon {
    /* Color */
    background: rgba(74, 181, 227, 0.1);
}

.transaction-item:nth-child(2) .transaction-item__icon {
    /* Color */
    background: rgba(218, 100, 100, 0.1);
}

.transaction-item:nth-child(3) .transaction-item__icon {
    /* Color */
    background: rgba(67, 159, 144, 0.1);
}

.transaction-item:nth-child(4) .transaction-item__icon {
    /* Color */
    background: rgba(74, 181, 227, 0.1);
}

.transaction-item__title {
    /* Color */
    color: var(--heading-color);

    /* Text */
    font-size: 1.4rem;
    font-weight: 600;
}

.transaction-item__desc {
    /* Box model */
    margin-top: 6px;

    /* Color */
    color: var(--desc-color);

    /* Text */
    font-size: 1rem;
    font-weight: 400;
}

.transaction-item__detail {
    /* Box model */
    margin-left: auto;
}

.transaction-item__money {
    /* Color */
    color: var(--heading-color);

    /* Text */
    text-align: right;
    font-size: 1.4rem;
    font-weight: 600;
}

.transaction-item__date {
    /* Box model */
    margin-top: 6px;

    /* Color */
    color: var(--desc-color);

    /* Text */
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
}

.hero-deposit {
    /* Positioning */
    position: absolute;
    top: 113px;
    left: 0;
    z-index: 1;

    /* Flex box */
    display: flex;
    align-items: center;

    /* Box model */
    width: 174px;
    height: 46px;
    padding: 14px 10px;
    border-radius: 6px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);

    /* Color */
    background: #fff;
}

.hero-deposit__icon {
    /* Box model */
    margin-right: 8px;
}

.hero-deposit__legend {
    /* Box model */
    color: var(--legend-color);

    /* Text */
    font-size: 1.4rem;
    font-weight: 600;
}

.hero-deposit__money {
    /* Box model */
    margin-left: auto;

    /* Color */
    color: var(--hero-deposit-money-color);

    /* Text */
    font-size: 1.4rem;
    font-weight: 400;
}

.hero-interest {
    /* Positioning */
    position: absolute;
    top: 127px;
    right: -174px;

    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Box model */
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);

    /* Color */
    background: var(--hero-interest-bg);
}

.hero-interest__info {
    /* Color */
    color: #fff;

    /* Text */
    font-size: 1.6rem;
    font-weight: 600;
}

.hero-interest__percent {
    /* Box model */
    display: block;

    /* Text */
    font-size: 4.4rem;
}

.hero-funds {
    /* Positioning */
    position: absolute;
    right: -74px;
    bottom: 61px;

    /* Flex box */
    display: flex;
    align-items: center;

    /* Box model */
    width: 124px;
    height: 68px;
    padding: 20px 14px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);

    /* Color */
    background: var(--hero-funds-bg);
}

.hero-funds__detail {
    /* Color */
    color: #fff;
}

.hero-funds__icon {
    /* Box model */
    margin-right: 11px;
}

.hero-funds__money {
    /* Text */
    font-size: 1.4rem;
    font-weight: 600;
}

.hero-funds__legend {
    /* Box model */
    margin-top: 5px;

    /* Text */
    font-size: 0.8rem;
    font-weight: 400;
}

/* =========== How It Works ========= */
.works {
    /* Box model */
    margin-top: 160px;
}

.works__inner {
    /* Flex box */
    display: flex;
    align-items: center;
}

.work__media {
    /* Positioning */
    position: relative;

    /* Box model */
    width: 50%;
    flex-shrink: 0;
}

.work__img-wrap {
    /* Positioning */
    position: relative;

    /* Box model */
    width: 470px;
    height: 619px;
}

.work__img-wrap::before {
    /* Positioning */
    position: absolute;
    left: 0;
    bottom: -4px;

    /* Box model */
    width: 100%;
    height: 550px;

    /* Content */
    display: block;
    content: url(../img/work-bg.svg);
}

.work__img {
    /* Positioning */
    position: relative;
    z-index: 1;

    /* Box model */
    width: 456px;
    height: 100%;

    /* Image */
    object-fit: cover;
}

.work-decor__card {
    /* Positioning */
    position: absolute;
    top: 69px;
    left: 344px;

    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Box model */
    width: 69px;
    height: 69px;
    border-radius: 8px;

    /* Color */
    background: var(--bold-color);
}

.card__icon-wrap {
    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Box model */
    width: 40px;
    height: 40px;
    border-radius: 4px;

    /* Color */
    background: #fff;
}

.work-decor-congratulations {
    /* Positioning */
    position: absolute;
    bottom: 96px;
    right: 0;
    z-index: 1;

    /* Flex box */
    display: flex;
    align-items: center;
    column-gap: 10px;

    /* Box model */
    width: 226px;
    height: 70px;
    padding: 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);

    /* Text */
    font-family: var(--secondary-font);
}

.congratulations__icon-wrap {
    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    /* Box model */
    width: 40px;
    height: 40px;
    border-radius: 6px;

    /* Color */
    background: var(--congratulations-icon-wrap-bg);
}

.congratulations__icon {
    /* Box model */
    width: 20px;
    height: 20px;
    padding: 7px 4px;
    border-radius: 50%;

    /* Color */
    background: #fff;
}

.congratulation__title {
    /* Color */
    color: var(--heading-color);

    /* Text */
    font-size: 1.4rem;
    font-weight: 600;
}

.congratulation__desc {
    /* Box model */
    margin-top: 5px;

    /* Color */
    color: var(--desc-color);

    /* Text */
    font-size: 1.2rem;
    font-weight: 400;
}
